body {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  margin: 10px 100px;

}

span {
  width: 100%;
  display: flex;
}

.middle-div {
  width: 600px;
  
}

.middle-span {
  justify-content: flex-end;
}

.gray-div{
  width: 600px;
}

.gray-span {
  background-color: grey;
}

